.a {
    height: 50px;
    width: 500px;
    border: 2px solid black;
}
.b {
    height: 50px;
    width: 500px;
    border: 5px dotted red;
}
.c {
    height: 50px;
    width: 500px;
    border: 4px dashed green;
}
.d {
    height: 50px;
    width: 500px;
    border: 5px double red;
}
.e {
    height: 50px;
    width: 500px;
    border: 6px groove purple;
}
.f {
    height: 50px;
    width: 500px;
    border: 6px inset blue;
}
.g {
    height: 50px;
    width: 500px;
    border: 4px outset red;
}
