:root {
    --color-main: hsl(215, 78%, 57%);
  /* --color-main:     #1f2937; */
  --color-hover: hsl(215, 61%, 20%);
  --bordes: 2px;
  --radio: 10px;
}

.azul {
    color:blue;
    font-size: 40px;
}

.grande {
    font-size: 3rem;
}

.rojo {
    color: red;
}


.layout {
  display: grid;
  grid-template-columns: 1fr;
}

.sidebar {
  padding: 1rem;
  border-right: 1px solid var(--color-main);
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar nav a {
    text-decoration: none;
    color: white;
    background-color: var(--color-main);
    padding: 0.5rem;
    border: 1px solid var(--color-main);
    border-radius: 0.5rem;
}

.sidebar nav a.active {
    text-decoration: underline;
    font-weight: bold;
}

main {
  padding: 2rem;
  /* min-height: 100vh; */
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;

        /* si queremos que sea fija */
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .header nav {
        flex-direction: row;
        gap: 1.5rem;
    }

    form {
        display: inline;
    }

    .layout {
        grid-template-columns: 240px 1fr;
        min-height: 100vh;
    }

    .sidebar {
        position: sticky;
        top: 69px;
        height: 25vh;
    }
}